* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito;
}

.header-container {
    box-shadow: 0 2px 4px 0px rgb(0, 0, 0, 0.1);
    padding-inline: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1280px;
    margin-inline: auto;
}

.title {
    font-weight: 800;
}

.countries-conteiner{
    max-width: 1280px;
    margin-inline: auto;
}

.country-card {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0px rgb(0, 0, 0, 0.2);
}

.country-card img {
    width: 100%;
}